# Domain
# This would be set to the production domain with an env var on deployment
# This domain is used for send email links
DOMAIN=localhost:5173

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="PDFQuizzer - Generador de encuestas a partir de PDFs"
STACK_NAME=PDFQuizzer

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"
SECRET_KEY=******************************
FIRST_SUPERUSER=******************************
FIRST_SUPERUSER_PASSWORD=******************************
GUNICORN_CMD_ARGS="--reload"
OPENAI_API_KEY=******************************
SWAGGER_UI_USERNAME=******************************
SWAGGER_UI_PASSWORD=******************************

# Emails
SMTP_HOST=******************************
SMTP_USER=******************************
SMTP_PASSWORD=********
EMAILS_FROM_EMAIL=******************************
SMTP_TLS=False
SMTP_SSL=True
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=******************************
POSTGRES_USER=******************************
POSTGRES_PASSWORD=******************************

SENTRY_DSN=******************************

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
